.blockShape {
	background: #34dbeb;
	border: none;
	height: 50px;
	width: 50px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	font-weight: bold;
}