.timerShape {
	background: #000;
	border: none;
	height: 50px;
	width: 100px;
	border-radius: 50%;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
}

.timerShape:disabled {
	background: #ececec;
	color: #000;
	border: 1px solid #000;
}