.blocksContainer {
	display: flex;
	justify-content: space-between;
	padding: 0 10%;
	height: 90vh;
	align-items: center;
}

.blockOneClass {
	position: relative;
	animation: updown 5s ease-in-out infinite;
}

@keyframes updown {
	0%, 75%, 100% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(calc(40vh - 30px));
	}

	75% {
		transform: translateY(calc(-40vh + 30px));
	}
}