.blocksContainer {
	display: flex;
	justify-content: space-around;
	height: 90vh;
	align-items: center;
}

.blockOneClass {
	position: relative;
	animation: updown 5s ease-in-out infinite;
}

@keyframes updown {
	0%,
	100% {
		transform: translate(0, -40vh);
	}
	50% {
		transform: translate(0, 40vh);
	}
}